.product-card {
    width: 260px;
    background: #fff;
    border-radius: 18px;
    padding: 14px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-image-wrapper {
    position: relative;
}

.product-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    background: #f3f3f3;
    border-radius: 12px;
}

/* Banner khuyến mãi */
.promo-banner {
    position: absolute;
    bottom: -46px;
    left: 39px;
    width: 80%;
}

.promo-imgP {
    width: 80% !important;
    border-radius: 10px;
    object-fit: contain !important;
    background: transparent !important;
    position: absolute;
    /* giúp neo vị trí */
    right: 0;
    /* sát mép phải */
    bottom: 0;
}

/* Text */
.product-title {
    font-size: 16px;
    font-weight: 700;
    margin-top: 6px;
}

.product-desc {
    font-size: 13px;
    color: #666;
    line-height: 1.3;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    color: #d40000;
}

/* Tags */
.product-tags {
    display: flex;
    gap: 6px;
}

.tag {
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 600;
    color: #000;
}

.t1 {
    background: #d5f5d5;
}

.t2 {
    background: #fff4c2;
}

.t3 {
    background: #d8f3ff;
}

/* Buttons */
.product-actions {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.btn-add {
    flex: 1;
    background: #ff8b8b;
    border: none;
    border-radius: 8px;
    padding: 8px;
    color: white;
    font-weight: bold;
}

.btn-buy {
    flex: 1;
    background: #1d8fff;
    border: none;
    border-radius: 8px;
    padding: 8px;
    color: white;
    font-weight: bold;
}