.bg-checkin {
    background-image: url('../../../assets/user/thumb-03.jpg');
    min-height: 100vh;
    background-repeat: repeat-x;
    background-size: 120% auto;
    background-position: 0% 50%;
    animation: bg-checkin 30s linear infinite;
}

@keyframes bg-checkin {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}

.animate-fade-in {
    animation: fadeInScale 0.6s ease-out;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.85);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.guest-card {
    backdrop-filter: blur(8px);
    padding: 40px 60px;
    border-radius: 24px;
    background: rgba(0, 0, 0, 0.35);
}