.product-frame {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    /* Giữ khung vuông đẹp */
}

.product-image-wrapper {
    position: relative;
    width: 100%;
    height: 190px;
    border-radius: 20px;
    overflow: hidden;
    background: linear-gradient(145deg, #fdfbfb 0%, #ebedee 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
    transition: transform .25s ease, box-shadow .25s ease;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform .3s ease;
    z-index: 4;
}

.frame-overlay {
    position: absolute;
    inset: 0;
    /* phủ kín khung */
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 5;
    /* khung trên */
    pointer-events: none;
    /* tránh ảnh hưởng click */
    background: transparent !important;

}