.stage {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #f8f9fa;
    overflow: hidden;

    background-image: url('../../../assets/user/bg-lucky.png');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    cursor: none;


}



.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 10;
}


.side {
    position: absolute;
    display: flex;
    gap: 12px;
}

.top {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    flex-wrap: wrap;
    justify-content: center;
}

.bottom {
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    flex-wrap: wrap;
    justify-content: center;
}

.left {
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
}

.right {
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
}


/* ===== CARD ===== */
.p-card {
    width: 150px;
    padding: 5px;
    background: white;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.p-card.forced {
    background: #fff3cd;
    border: 2px solid #dc3545;
}

/* ===== PAGE ===== */
.page-indicator {
    position: fixed;
    bottom: 16px;
    right: 16px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
}

.lucky-arrow {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.img-arrow {
    transform: rotate(180deg);

}

#coin-container {
    position: fixed;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
}

.coin {
    position: absolute;
    top: -50px;
    width: 32px;
    height: 32px;
    background-image: url('../../../assets/user/coin.png');
    /* áº£nh coin */
    background-size: cover;
    animation: fall linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(110vh) rotate(720deg);
        opacity: 0;
    }
}

.fullname {
    font-size: 10px;
}